<?xml version="1.0" encoding="UTF-8"?>


<!-- BEFORE_SUITE-->
<suite name="Suite">
<parameter name="browser" value="Chrome"></parameter>  <!-- paramerization->parameter->cross_browser_testing -->

<!-- BEFORE TEST -->
  <test thread-count="2" name="Test" parallel="method">   <!--parallel testing -->
  
   <classes>
   
   <!-- BEFORE CLASS -->
   
    <class name="TestScripts.LoginTest">
      	<methods> 		
			 <include name="login"></include>
      	</methods>      
     </class> 
      
     <class name="TestScripts.EventTest">
      	<methods>
			<include name="addEvent"></include>
      	</methods>      
      </class> 
	   
     <class name="TestScripts.NotesTest">       
	      <!-- BEFORE METHOD -->      
	      	<methods>
				<include name="addNotes"></include>
	      	</methods>        	
	      <!-- AFTER METHOD -->         
     </class>
      
     <!-- AFTER CLASS -->
       
    </classes>
  
  </test> 
  <!-- AFTER TEST -->
  
</suite> 
<!-- AFTER SUITE suit-->
